{% extends 'base.html' %}

{% block title %}
    Processed CSVs
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Processed CSV</h1>

        {% with data = main_data %}
            <h2>Main Data</h2>
            {% include 'processed_table.html' %}
        {% endwith %}

        {% with data = tcp_data %}
            {% with tcp = True  %}
                <h2>TCP Data</h2>
                {% include 'processed_table.html' %}
            {% endwith %}
        {% endwith %}
    </div>
{% endblock %}